<h1>Hello internet web surfer</h1>

<form action="/links">
  <input type="submit" value="Click here to see your favorite web pages from the internet">
</form>

 <a href="/links/new">Add link to bookmarks</a>
