<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      ID:    <%= link.id    %>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      <!-- Tag:   <%= link.tag   %> -->
    </li>
  <% end %>
</ul>

<a href="/">Bookmarks Home</a>
