<h1>Add link</h1>


<form action="/links" method = "post">
  <label for = "url">
    URL
  <input type = "text" name = "url"/>
  </label>
  <label for = "title">
    Title
    <input type = "text" name = "title"/>
  </label>
  <input type="submit" value="submit"/>
  <label for = "tag">
    Tag
  <input type = "text" name = "tag"/>
  </label>
</form>
